@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-color-primary: rgba(242, 127, 108, 92);  
  --background-color-primary-soft: rgba(242, 127, 108, 0.6) 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #3c3c3c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
 

.background-color-primary{
  background-color: var(--background-color-primary);
}
.text-color-primary{
color: var(--background-color-primary);
}
.background-color-primary-soft{
  background-color: var(--background-color-primary-soft);
}
.text-color-primary-soft{
  color: var(--background-color-primary-soft);
}
.border-color-primary{
border-color: var(--background-color-primary);
}
.border-color-primary-soft{
 border-color: var(--background-color-primary-soft);
}


